.main {
  background-color: #333333;
}
.maindiv {
  width: 800px;
  margin: auto;
  color: white;
  display: flex;
}

.cont {
  width: 800px;
  margin: auto;
  color: white;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

ul, .lihome, .gray {
  padding-top: 17px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

li {
  padding: 0 10px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.menu {
  text-align: end;
}

.call {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.midtxt {
  margin-top: 203px;
  text-align: center;
  margin-bottom: 202px;
}

.cover {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.covertxt {
  font-size: 25px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  background-color: white;
}

.btnn {
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  height: 75px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.btnnf {
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  height: 75px;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 11px;
  margin-top: 15px;
  color: white;
}

.footer {
  text-align: center;
  color: gray;
  font-size: 19px;
  padding-bottom: 40px;
}

.white {
  color: white;
  cursor: pointer;
}

.white:hover {
  text-decoration: underline;
}

.lihome {
  border-bottom: 5px solid white;
  color: white;
}

.lihome:hover {
  border-bottom: 5px solid gray;
}

.gray {
  color: gray;
}

.gray:hover {
  border-bottom: 5px solid gray;
}



